[flake8]
max-line-length = 99
show-source = true
statistics = false
doctests = true
select = C,E,F,W,B,B950
extend-ignore = E203, E501, B008
exclude = .git,__pycache__,.mypy_cache,.pytest_cache
per-file-ignores =
    tests/*:D102,D104,F401
