fivetran_sdk/
dist/
src/fivetran_custom_sdk.egg-info/
**/.idea
**/__pycache__
examples/**/files/
examples/**/build/
examples/**/dist/

.DS_Store
**/*_pb2.py
**/*_pb2.pyi
**/*_pb2_grpc.py
*.spec
**/__run.py
**/Dockerfile



# Python compiled files
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# owasp_api_vulns connector specific exclusions
connectors/owasp_api_vulns/configuration_local_test.json
connectors/owasp_api_vulns/configuration.json
connectors/owasp_api_vulns/local_output_files/
connectors/owasp_api_vulns/files/
connectors/owasp_api_vulns/.venv/
connectors/owasp_api_vulns/.venv_fivetran/
connectors/owasp_api_vulns/dist/

