requests~=2.32.5
cryptography~=46.0.4
pandas~=3.0.0
numpy~=2.4.2
python-dateutil~=2.9.0.post0
certifi~=2026.1.4
protobuf~=6.33.4
jupyterlab_pygments~=0.3.0
pip~=24.3.1
attrs~=25.4.0
grpcio~=1.76.0
pydantic~=2.12.5
GitPython~=3.1.46
gitdb~=4.0.12
PyYAML~=6.0.3
smmap~=5.0.2
click~=8.3.1
wandb~=0.24.2
urllib3~=2.6.3
packaging~=26.0
grpcio-tools~=1.76.0
platformdirs~=4.5.1
Pygments~=2.19.2
setuptools~=80.10.2
ipython~=9.9.0
annotated-types~=0.7.0
idna~=3.11
charset-normalizer~=3.4.4
sentry-sdk~=2.52.0
MarkupSafe~=3.0.3
tornado~=6.5.4
executing~=2.2.1
asttokens~=3.0.1
pure_eval~=0.2.3