{"openapi": "3.1.0", "info": {"title": "Rillet Accounting API", "version": "v3.0"}, "x-readme": {"headers": [{"key": "X-Rillet-API-Version", "value": "3"}]}, "servers": [{"url": "https://api.rillet.com", "description": "Production server url"}, {"url": "https://sandbox.api.rillet.com", "description": "Test server url"}], "security": [{"bearerAuth": []}], "paths": {"/accounts": {"get": {"tags": ["Chart of Accounts"], "operationId": "list-all-accounts", "summary": "List all accounts", "parameters": [{"name": "updated.gt", "in": "query", "required": false, "description": "Filter accounts updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["accounts"], "type": "object", "properties": {"accounts": {"type": "array", "items": {"$ref": "#/components/schemas/Account"}}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/subsidiaries": {"get": {"tags": ["Subsidiaries"], "operationId": "list-all-subsidiaries", "summary": "List all subsidiaries", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["subsidiaries"], "type": "object", "properties": {"subsidiaries": {"type": "array", "items": {"$ref": "#/components/schemas/Subsidiary"}}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/subsidiaries/{subsidiary_id}": {"get": {"tags": ["Subsidiaries"], "operationId": "retrieve-a-subsidiary", "summary": "Retrieve a subsidiary", "parameters": [{"name": "subsidiary_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Subsidiary"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/organizations/self": {"get": {"tags": ["Organizations"], "operationId": "retrieve-an-organization", "summary": "Retrieve an organization", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Organization"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/products": {"get": {"tags": ["Products"], "operationId": "list-all-products", "summary": "List all products", "parameters": [{"name": "status", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "currency", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/CurrencyCode"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["products", "pagination"], "type": "object", "properties": {"products": {"type": "array", "items": {"$ref": "#/components/schemas/Product"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Products"], "operationId": "create-a-product", "summary": "Create a product", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/products/{product_id}": {"get": {"tags": ["Products"], "operationId": "retrieve-a-product", "summary": "Retrieve a product", "parameters": [{"name": "product_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Products"], "operationId": "update-a-product", "summary": "Update a product", "parameters": [{"name": "product_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Products"], "operationId": "delete-a-product", "summary": "Delete a product", "parameters": [{"name": "product_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/customers": {"get": {"tags": ["Customers"], "operationId": "list-all-customers", "summary": "List all customers", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "search", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter customer by name."}, {"name": "external_reference_id", "in": "query", "required": false, "schema": {"type": "string"}, "description": "If this is provided, `external_reference_type` must also be provided.\n"}, {"name": "external_reference_type", "in": "query", "required": false, "schema": {"type": "string"}, "description": "If this is provided, `external_reference_id` must also be provided.\n"}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter customers updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"type": "string", "enum": ["created", "updated"], "default": "created"}, "description": "the field the customers should be sorted by descending (either created or updated)"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["customers"], "type": "object", "properties": {"customers": {"type": "array", "items": {"$ref": "#/components/schemas/Customer"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Customers"], "operationId": "create-a-customer", "summary": "Create a customer", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/customers/{customer_id}": {"get": {"tags": ["Customers"], "operationId": "retrieve-a-customer", "summary": "Retrieve a customer", "parameters": [{"name": "customer_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Customers"], "operationId": "update-a-customer", "summary": "Update a customer", "parameters": [{"name": "customer_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Customers"], "operationId": "delete-a-customer", "summary": "Delete a customer", "parameters": [{"name": "customer_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/customers/{customer_id}/settings/payment": {"post": {"tags": ["Customer Payments"], "operationId": "setup-auto-payment", "summary": "Setup auto-payment", "description": "Kicks off the setup of auto-payment for a customer. This will return a URL that the customer must visit to complete the setup. If the customer already has a payment method, this will return a URL to update the payment method.", "parameters": [{"name": "customer_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetupUpAutoPaymentRequest"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentSetupResponse"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "get": {"tags": ["Customer Payments"], "operationId": "get-payment-method", "summary": "Get payment method", "description": "Returns the payment method configured for auto-payment for the given customer.", "parameters": [{"name": "customer_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerPaymentMethod"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/contracts": {"post": {"tags": ["Contracts"], "operationId": "create-a-contract", "summary": "Create a contract", "description": "Rillet supports two contract scope types: FULL and REVENUE_RECOGNITION_ONLY. The selected scope determines how the invoices are created and what information the user needs to provide.\n\nThe FULL scope is used when contract invoices are generated and sent directly from Rillet. In this case, Rillet automatically assigns the invoice numbers.\n\nThe REVENUE_RECOGNITION_ONLY scope is intended for situations where contracts and invoices are issued from another system and only need to be recorded in Rillet for accounting purposes. In this workflow, users must provide the invoice numbers manually. Other fields can be populated based on the data imported from the external system.\n\nFor example, if your organization issues invoices through an external billing platform but tracks financials in Rillet, you should select REVENUE_RECOGNITION_ONLY. If Rillet handles the entire invoicing and sending process, choose the FULL scope.\n", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateContractRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandedContract"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}, "get": {"tags": ["Contracts"], "operationId": "list-all-contracts", "summary": "List all contracts", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "status", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/ContractStatus"}}, {"name": "start_date.gt", "in": "query", "description": "Minimum start date value to filter by (exclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "start_date.gte", "in": "query", "description": "Minimum start date value to filter by (inclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "start_date.lt", "in": "query", "description": "Maximum start date value to filter by (exclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "start_date.lte", "in": "query", "description": "Maximum start date value to filter by (inclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "end_date.gt", "in": "query", "description": "Minimum end date value to filter by (exclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "end_date.gte", "in": "query", "description": "Minimum end date value to filter by (inclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "end_date.lt", "in": "query", "description": "Maximum end date value to filter by (exclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "end_date.lte", "in": "query", "description": "Maximum end date value to filter by (inclusive)", "schema": {"type": "string", "format": "date"}, "required": false}, {"name": "customer_id", "in": "query", "schema": {"type": "string", "format": "uuid"}, "required": false}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["contracts"], "type": "object", "properties": {"contracts": {"type": "array", "items": {"$ref": "#/components/schemas/Contract"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/contracts/{contract_id}": {"get": {"tags": ["Contracts"], "operationId": "retrieve-a-contract", "summary": "Retrieve a contract", "parameters": [{"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandedContract"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Contracts"], "operationId": "update-a-contract", "summary": "Update a contract", "parameters": [{"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateContractRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandedContract"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Contracts"], "operationId": "delete-a-contract", "summary": "Delete a contract", "parameters": [{"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/contracts/{contract_id}/amendments": {"post": {"tags": ["Contracts"], "operationId": "amend-a-contract", "summary": "Amend a contract", "parameters": [{"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AmendContractRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandedContract"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/contracts/{contract_id}/amendments/preview": {"post": {"tags": ["Contracts"], "operationId": "preview-contract-amendment", "summary": "Preview contract amendment", "description": "Preview a contract that has been amended. This has no effect on the actual contract, only provides a preview of what a contract will look like after it is amended.", "parameters": [{"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreviewContractAmendmentRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandedContract"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/contracts/{contract_id}/end": {"put": {"tags": ["Contracts"], "operationId": "end-an-open-ended-contract", "summary": "End an open-ended contract", "parameters": [{"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/EndOpenEndedContractRequest"}}}, "required": true}, "responses": {"204": {"description": "NO CONTENT"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/contract-items/{contract_item_id}/usage": {"patch": {"tags": ["Contract Items"], "operationId": "upsert-a-usage-record", "summary": "Upsert usage record", "parameters": [{"name": "contract_item_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsageRecords"}}}, "required": true}, "description": "Creates usage records on dates where previously no usage was recorded. Overwrites usage records on dates where usage was previously recorded already.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsageRecords"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "get": {"tags": ["Contract Items"], "operationId": "list-all-contract-item-usage-records", "summary": "List all contract item usage records", "parameters": [{"name": "contract_item_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/UsageRecords"}, {"type": "object", "properties": {"pagination": {"$ref": "#/components/schemas/Pagination"}}}]}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Contract Items"], "operationId": "delete-a-usage-record", "summary": "Delete a usage record", "parameters": [{"name": "contract_item_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "date", "in": "query", "schema": {"type": "string", "format": "date"}, "required": true}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/invoices": {"get": {"tags": ["Invoices"], "operationId": "list-all-invoices", "summary": "List all invoices", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "overdue", "in": "query", "required": false, "schema": {"type": "boolean"}, "description": "Filter for overdue invoices."}, {"name": "customer_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter invoices updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["invoices"], "type": "object", "properties": {"invoices": {"type": "array", "items": {"$ref": "#/components/schemas/Invoice"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Invoices"], "operationId": "create-an-invoice", "summary": "Create an invoice", "description": "Rillet supports two invoice scope types: FULL and REVENUE_RECOGNITION_ONLY. The selected scope determines how the invoice is created and what information the user needs to provide.\n\nThe FULL scope is used when the invoice is generated and sent directly from Rillet. In this case, Rillet automatically assigns the invoice number.\n\nThe REVENUE_RECOGNITION_ONLY scope is intended for situations where the invoice is issued from another system and only needs to be recorded in Rillet for accounting purposes. In this workflow, users must provide the invoice number manually. Other fields can be populated based on the data imported from the external system.\n\nFor example, if your organization issues invoices through an external billing platform but tracks financials in Rillet, you should select REVENUE_RECOGNITION_ONLY. If Rillet handles the entire invoicing and sending process, choose the FULL scope.\n", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateInvoiceRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Invoice"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/invoices/{invoice_id}": {"get": {"tags": ["Invoices"], "operationId": "retrieve-an-invoice", "summary": "Retrieve an invoice", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "Accept", "in": "header", "required": false, "schema": {"enum": ["application/pdf", "application/json"], "default": "application/json"}}], "responses": {"200": {"description": "OK", "content": {"application/pdf": {"schema": {"type": "string", "format": "binary"}}, "application/json": {"schema": {"$ref": "#/components/schemas/Invoice"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Invoices"], "operationId": "delete-an-invoice", "summary": "Delete an invoice", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Invoices"], "operationId": "update-an-invoice", "summary": "Update an invoice", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateInvoiceRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Invoice"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/invoices/{invoice_id}/taxes": {"post": {"tags": ["Invoices"], "operationId": "update-taxes-for-an-invoice", "summary": "Update invoice taxes", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateTaxesRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Invoice"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/invoice-payments": {"get": {"tags": ["Invoice payments"], "operationId": "list-all-invoices-payments", "summary": "List all invoice payments", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter payments updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"type": "string", "enum": ["created", "updated"], "default": "created"}, "description": "the field the payments should be sorted by descending (either created or updated)"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["payments", "pagination"], "type": "object", "properties": {"payments": {"type": "array", "items": {"$ref": "#/components/schemas/InvoicePayment"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/invoices/{invoice_id}/payments": {"get": {"tags": ["Invoice payments"], "operationId": "list-all-invoice-payments", "summary": "List payments for invoice", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["payments"], "type": "object", "properties": {"payments": {"type": "array", "items": {"$ref": "#/components/schemas/InvoicePayment"}}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Invoice payments"], "operationId": "create-an-invoice-payment", "summary": "Create an invoice payment", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoicePaymentRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InvoicePayment"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/invoices/{invoice_id}/sent-status": {"put": {"tags": ["Invoices"], "operationId": "update-invoice-sent-status", "summary": "Update invoice sent status", "parameters": [{"name": "invoice_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateInvoiceSentStatusRequest"}}}, "required": true}, "responses": {"200": {"description": "OK"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/credit-memos": {"get": {"tags": ["Credit Memos"], "operationId": "list-all-credit-memos", "summary": "List all credit memos", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter credit memos updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["credit_memos"], "type": "object", "properties": {"credit_memos": {"type": "array", "items": {"$ref": "#/components/schemas/CreditMemo"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Credit Memos"], "operationId": "create-a-credit-memo", "summary": "Create a credit memo", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateCreditMemoRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreditMemo"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/credit-memos/{credit_memo_id}": {"get": {"tags": ["Credit Memos"], "operationId": "retrieve-a-credit-memo", "summary": "Retrieve a credit memo", "parameters": [{"name": "credit_memo_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreditMemo"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Credit Memos"], "operationId": "delete-a-credit-memo", "summary": "Delete a credit memo", "parameters": [{"name": "credit_memo_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Credit Memos"], "operationId": "update-a-credit-memo", "summary": "Update a credit memo", "parameters": [{"name": "credit_memo_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateCreditMemoRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreditMemo"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/credit-memos/{credit_memo_id}/taxes": {"post": {"tags": ["Credit Memos"], "operationId": "update-taxes-for-a-credit-memo", "summary": "Update credit memo taxes", "parameters": [{"name": "credit_memo_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateTaxesRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreditMemo"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/vendors": {"get": {"tags": ["Vendors"], "operationId": "list-all-vendors", "summary": "List all vendors", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter vendors updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["vendors", "pagination"], "type": "object", "properties": {"vendors": {"type": "array", "items": {"$ref": "#/components/schemas/VendorResponse"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Vendors"], "operationId": "create-a-vendor", "summary": "Create a vendor", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorResponse"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/vendors/{vendor_id}": {"get": {"tags": ["Vendors"], "operationId": "retrieve-a-vendor", "summary": "Retrieve a vendor", "parameters": [{"name": "vendor_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorResponse"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Vendors"], "operationId": "update-a-vendor", "summary": "Update a vendor", "parameters": [{"name": "vendor_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorResponse"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Vendors"], "operationId": "delete-a-vendor", "summary": "Delete a vendor", "parameters": [{"name": "vendor_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/vendor-credits": {"get": {"tags": ["Vendor Credits"], "operationId": "list-all-vendor-credits", "summary": "List all vendor credits", "parameters": [{"name": "vendor_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter vendor credits updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "required": ["vendor_credits", "pagination"], "properties": {"vendor_credits": {"type": "array", "items": {"$ref": "#/components/schemas/VendorCredit"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Vendor Credits"], "operationId": "create-a-vendor-credit", "summary": "Create a vendor credit", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateVendorCreditRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorCredit"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/vendor-credits/{vendor_credit_id}": {"get": {"tags": ["Vendor Credits"], "operationId": "retrieve-a-vendor-credit", "summary": "Retrieve a vendor credit", "parameters": [{"name": "vendor_credit_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorCredit"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Vendor Credits"], "operationId": "update-a-vendor-credit", "summary": "Update a vendor credit", "parameters": [{"name": "vendor_credit_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateVendorCreditRequest"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorCredit"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Vendor Credits"], "operationId": "delete-a-vendor-credit", "summary": "Delete a vendor credit", "parameters": [{"name": "vendor_credit_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/vendor-credits/{vendor_credit_id}/applications": {"post": {"tags": ["Vendor Credit Applications"], "operationId": "apply-vendor-credit", "summary": "Apply a vendor credit to bills", "parameters": [{"name": "vendor_credit_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplyVendorCreditRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VendorCredit"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/bills": {"get": {"tags": ["Bills"], "operationId": "list-all-bills", "summary": "List all bills", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter bills updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "required": ["bills", "pagination"], "properties": {"bills": {"type": "array", "items": {"$ref": "#/components/schemas/Bill"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Bills"], "operationId": "create-a-bill", "summary": "Create a bill", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateBillRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bill"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/bills/{bill_id}": {"get": {"tags": ["Bills"], "operationId": "retrieve-a-bill", "summary": "Retrieve a bill", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bill"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Bills"], "operationId": "update-a-bill", "summary": "Update a bill", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateBillRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bill"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Bills"], "operationId": "upload-document", "summary": "Upload document", "description": "Uploads a new document", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"file": {"type": "string", "format": "binary"}}}, "encoding": {"file": {"contentType": "application/octet-stream"}}}}}, "responses": {"204": {"description": "No content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Bills"], "operationId": "delete-a-bill", "summary": "Delete a bill", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/bills/{bill_id}/payments": {"get": {"tags": ["Bill Payments"], "operationId": "list-bill-payments", "summary": "List bill payments", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["payments"], "type": "object", "properties": {"payments": {"type": "array", "items": {"$ref": "#/components/schemas/BillPayment"}}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Bill Payments"], "operationId": "create-a-bill-payment", "summary": "Create a bill payment", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BillPaymentRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BillPayment"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/bills/{bill_id}/payments/{payment_id}": {"delete": {"tags": ["Bill Payments"], "operationId": "delete-a-bill-payment", "summary": "Delete a bill payment", "parameters": [{"name": "bill_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "payment_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/charges": {"get": {"tags": ["Charges"], "operationId": "list-all-charges", "summary": "List all charges", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter charges updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "required": ["charges", "pagination"], "properties": {"charges": {"type": "array", "items": {"$ref": "#/components/schemas/Charge"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/charges/{charge_id}": {"get": {"tags": ["Charges"], "operationId": "retrieve-a-charge", "summary": "Retrieve a charge", "parameters": [{"name": "charge_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Charge"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Charges"], "operationId": "delete-a-charge", "summary": "Delete a charge", "parameters": [{"name": "charge_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reimbursements": {"get": {"tags": ["Reimbursements"], "operationId": "list-all-reimbursements", "summary": "List all reimbursements", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter reimbursements updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"type": "object", "required": ["reimbursements", "pagination"], "properties": {"reimbursements": {"type": "array", "items": {"$ref": "#/components/schemas/Reimbursement"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reimbursements/{reimbursement_id}": {"get": {"tags": ["Reimbursements"], "operationId": "retrieve-a-reimbursement", "summary": "Retrieve a reimbursement", "parameters": [{"name": "reimbursement_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Reimbursement"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Reimbursements"], "operationId": "delete-a-reimbursement", "summary": "Delete a reimbursement", "parameters": [{"name": "reimbursement_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/journal-entries": {"post": {"tags": ["Journal Entries"], "operationId": "create-a-journal-entry", "summary": "Create a journal entry", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateJournalEntryRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JournalEntry"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}, "get": {"tags": ["Journal Entries"], "operationId": "list-all-journal-entries", "summary": "List all journal entries", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter journal entries updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}, {"name": "date.gte", "in": "query", "required": false, "description": "Filter journal entries with a posting date on or after this date (inclusive)", "schema": {"type": "string", "format": "date", "example": "2023-12-01"}}, {"name": "date.lte", "in": "query", "required": false, "description": "Filter journal entries with a posting date on or before this date (inclusive)", "schema": {"type": "string", "format": "date", "example": "2023-12-31"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"type": "string", "enum": ["created", "updated"], "default": "created"}, "description": "the field the journal entries should be sorted by descending (either created or updated)"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["journal_entries"], "type": "object", "properties": {"journal_entries": {"type": "array", "items": {"$ref": "#/components/schemas/JournalEntry"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/journal-entries/{journal_entry_id}": {"get": {"tags": ["Journal Entries"], "operationId": "retrieve-a-journal-entry", "summary": "Retrieve a journal entry", "parameters": [{"name": "journal_entry_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JournalEntry"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Journal Entries"], "operationId": "update-a-journal-entry", "summary": "Update a journal entry", "parameters": [{"name": "journal_entry_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateJournalEntryRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JournalEntry"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Journal Entries"], "operationId": "delete-a-journal-entry", "summary": "Delete a journal entry", "parameters": [{"name": "journal_entry_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/bank-accounts": {"get": {"tags": ["Bank accounts"], "operationId": "list-all-bank-accounts", "summary": "List all bank accounts", "parameters": [{"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["accounts"], "type": "object", "properties": {"accounts": {"type": "array", "items": {"$ref": "#/components/schemas/BankAccount"}}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Bank accounts"], "operationId": "create-a-bank-account", "summary": "Create a bank account", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateBankAccountRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankAccount"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/bank-accounts/{bank_account_id}": {"get": {"tags": ["Bank accounts"], "operationId": "retrieve-a-bank-account", "summary": "Retrieve a bank account", "parameters": [{"name": "bank_account_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankAccount"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Bank accounts"], "operationId": "delete-a-bank-account", "summary": "Delete a bank account", "parameters": [{"name": "bank_account_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/bank-transactions": {"get": {"tags": ["Bank Transactions"], "operationId": "list-all-bank-transactions", "summary": "List all bank transactions", "parameters": [{"name": "bank_account_id", "in": "query", "required": false, "description": "Filter by bank account", "schema": {"type": "string", "format": "uuid"}}, {"name": "subsidiary_id", "in": "query", "required": false, "description": "Filter by subsidiary", "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter bank transactions updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}, {"name": "date.gte", "in": "query", "required": false, "description": "Filter bank transactions with date on or after this date", "schema": {"type": "string", "format": "date", "example": "2023-01-01"}}, {"name": "date.lte", "in": "query", "required": false, "description": "Filter bank transactions with date on or before this date", "schema": {"type": "string", "format": "date", "example": "2023-12-31"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"type": "string", "enum": ["created", "updated"]}}, {"name": "limit", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageLimit"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["bank_transactions", "pagination"], "type": "object", "properties": {"bank_transactions": {"type": "array", "items": {"$ref": "#/components/schemas/BankTransaction"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Bank Transactions"], "operationId": "create-a-bank-transaction", "summary": "Create a bank transaction", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateBankTransactionRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankTransaction"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/bank-transactions/{bank_transaction_id}": {"get": {"tags": ["Bank Transactions"], "operationId": "retrieve-a-bank-transaction", "summary": "Retrieve a bank transaction", "parameters": [{"name": "bank_transaction_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankTransaction"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "put": {"tags": ["Bank Transactions"], "operationId": "update-a-bank-transaction", "summary": "Update a bank transaction", "parameters": [{"name": "bank_transaction_id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateBankTransactionRequest"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BankTransaction"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"tags": ["Bank Transactions"], "operationId": "delete-a-bank-transaction", "summary": "Delete a bank transaction", "parameters": [{"name": "bank_transaction_id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "No Content"}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/tax-rates": {"get": {"tags": ["Tax rates"], "operationId": "list-all-tax-rates", "summary": "List all tax rates", "description": "Returns all available tax rates. Use the returned IDs when creating bills with specific tax codes.", "parameters": [{"name": "country", "in": "query", "required": false, "description": "Two-letter country code (ISO 3166-1 alpha-2). If provided, only tax rates for that country are returned.", "schema": {"$ref": "#/components/schemas/CountryCode"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["tax_rates"], "type": "object", "properties": {"tax_rates": {"type": "array", "items": {"$ref": "#/components/schemas/TaxRateResource"}}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reports/arr-waterfall": {"get": {"tags": ["Reports"], "operationId": "retrieve-waterfall-report", "summary": "Retrieve ARR waterfall report", "parameters": [{"$ref": "#/components/parameters/month"}, {"$ref": "#/components/parameters/status"}, {"$ref": "#/components/parameters/breakdown"}, {"$ref": "#/components/parameters/subsidiaryId"}, {"$ref": "#/components/parameters/subsidiary_id"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RevenueWaterfall"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/books/periods/last-closed": {"get": {"tags": ["Books periods"], "operationId": "retrieve-last-book-closed-period", "summary": "Retrieve last book closed period", "description": "Returns the last closed book period, if it exists.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Book"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/health": {"get": {"tags": ["Health"], "operationId": "health", "summary": "Health check", "responses": {"200": {"description": "OK"}}, "parameters": []}}, "/api-key": {"get": {"tags": ["API Key"], "operationId": "get-api-key-information", "summary": "Get API key information", "description": "Allows validation of an API key.", "responses": {"200": {"description": "OK"}, "401": {"description": "Unauthorized"}}, "parameters": []}}, "/fields": {"get": {"tags": ["Fields"], "operationId": "get-fields", "summary": "Get fields", "description": "Retrieves all custom fields and field values.", "parameters": [{"name": "updated.gt", "in": "query", "required": false, "description": "Filter fields updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FieldsResponse"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"tags": ["Fields"], "operationId": "create-field", "summary": "Create field", "description": "Creates a custom field.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateFieldRequest"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Field"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/fields/{id}": {"parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "put": {"tags": ["Fields"], "operationId": "update-field", "summary": "Update field", "description": "Updates a custom field.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateFieldRequest"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Field"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/fields/{id}/values": {"parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "post": {"tags": ["Fields"], "operationId": "create-field-value", "summary": "Create field value", "description": "Creates a value for a custom field.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateFieldValueRequest"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Field"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/fields/{fieldId}/values/{fieldValueId}": {"parameters": [{"name": "fieldId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "fieldValueId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "put": {"tags": ["Fields"], "operationId": "update-field-value", "summary": "Update field value", "description": "Updates a custom field value.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateFieldValueRequest"}}}}, "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Field"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}, "delete": {"tags": ["Fields"], "operationId": "delete-field-value", "summary": "Delete field value", "description": "Deletes a custom field value.", "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Field"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}, "parameters": []}}, "/reports/trial-balance": {"get": {"tags": ["Reports"], "operationId": "retrieve-trial-balance-report", "summary": "Retrieve trial balance report", "description": "Returns a trial balance report for the specified date range.", "parameters": [{"$ref": "#/components/parameters/fromDate"}, {"$ref": "#/components/parameters/toDate"}, {"$ref": "#/components/parameters/subsidiary_id"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TrialBalanceReport"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reports/balance-sheet": {"get": {"tags": ["Reports"], "operationId": "retrieve-balance-sheet-report", "summary": "Retrieve balance sheet report", "description": "Returns a balance sheet report as of the specified date.", "parameters": [{"$ref": "#/components/parameters/asOfDate"}, {"$ref": "#/components/parameters/subsidiary_id"}, {"$ref": "#/components/parameters/breakdownBy"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BalanceSheetReport"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reports/income-statement": {"get": {"tags": ["Reports"], "operationId": "retrieve-income-statement-report", "summary": "Retrieve income statement report", "description": "Returns an income statement (profit and loss) report for the specified date range.", "parameters": [{"$ref": "#/components/parameters/fromDate"}, {"$ref": "#/components/parameters/toDate"}, {"$ref": "#/components/parameters/subsidiary_id"}, {"$ref": "#/components/parameters/breakdownBy"}, {"$ref": "#/components/parameters/customFieldId"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IncomeStatementReport"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reports/cash-flow-statement": {"get": {"tags": ["Reports"], "operationId": "retrieve-cash-flow-statement-report", "summary": "Retrieve cash flow statement report", "description": "Returns a cash flow statement report for the specified date range.", "parameters": [{"$ref": "#/components/parameters/fromDate"}, {"$ref": "#/components/parameters/toDate"}, {"$ref": "#/components/parameters/subsidiary_id"}, {"$ref": "#/components/parameters/breakdownBy"}, {"$ref": "#/components/parameters/customFieldId"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CashFlowStatementReport"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reports/executive-pl": {"get": {"tags": ["Reports"], "operationId": "retrieve-executive-pl-report", "summary": "Retrieve executive P&L report", "description": "Returns an executive profit and loss report with margins for the specified date range.", "parameters": [{"$ref": "#/components/parameters/fromDate"}, {"$ref": "#/components/parameters/toDate"}, {"$ref": "#/components/parameters/subsidiary_id"}, {"$ref": "#/components/parameters/breakdownBy"}, {"$ref": "#/components/parameters/customFieldId"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExecutivePLReport"}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/reports/journal-entries": {"get": {"tags": ["Reports"], "operationId": "list-reports-journal-entries", "summary": "List journal entries with reporting currency amounts", "description": "Returns journal entries with line item amounts converted to the reporting currency.", "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/PageCursor"}}, {"name": "subsidiary_id", "in": "query", "required": false, "schema": {"type": "string", "format": "uuid"}}, {"name": "updated.gt", "in": "query", "required": false, "description": "Filter journal entries updated after this timestamp", "schema": {"type": "string", "format": "date-time", "example": "2023-01-01T00:00:00Z"}}, {"name": "date.gte", "in": "query", "required": false, "description": "Filter journal entries with a posting date on or after this date (inclusive)", "schema": {"type": "string", "format": "date", "example": "2023-12-01"}}, {"name": "date.lte", "in": "query", "required": false, "description": "Filter journal entries with a posting date on or before this date (inclusive)", "schema": {"type": "string", "format": "date", "example": "2023-12-31"}}, {"name": "sort_by", "in": "query", "required": false, "schema": {"type": "string", "enum": ["created", "updated"], "default": "created"}, "description": "the field the journal entries should be sorted by descending (either created or updated)"}], "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"required": ["journal_entries"], "type": "object", "properties": {"journal_entries": {"type": "array", "items": {"$ref": "#/components/schemas/ReportingJournalEntry"}}, "pagination": {"$ref": "#/components/schemas/Pagination"}}}}}}, "default": {"description": "Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}}, "components": {"securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer"}}, "parameters": {"status": {"name": "status", "in": "query", "required": true, "description": "whether to include committed or active entries", "schema": {"$ref": "#/components/schemas/Status"}}, "breakdown": {"name": "breakdown", "in": "query", "required": true, "description": "whether annual or monthly breakdowns", "schema": {"$ref": "#/components/schemas/Breakdown"}}, "subsidiaryId": {"name": "subsidiaryId", "in": "query", "required": false, "deprecated": true, "description": "Deprecated: use subsidiary_id instead. The optional subsidiary id to filter results from.", "schema": {"type": "string", "format": "uuid"}}, "subsidiary_id": {"name": "subsidiary_id", "in": "query", "required": false, "description": "The optional subsidiary id to filter results from.", "schema": {"type": "string", "format": "uuid"}}, "month": {"name": "month", "in": "query", "required": true, "description": "The month and year to export. Uses ISO-8061 format (YYYY-MM).", "schema": {"type": "string", "format": "yearMonth"}}, "fromDate": {"name": "from_date", "in": "query", "required": true, "description": "Start date for the report period. Uses ISO-8601 format (YYYY-MM-DD).", "schema": {"type": "string", "format": "date"}, "example": "2024-01-01"}, "toDate": {"name": "to_date", "in": "query", "required": true, "description": "End date for the report period. Uses ISO-8601 format (YYYY-MM-DD).", "schema": {"type": "string", "format": "date"}, "example": "2024-01-31"}, "asOfDate": {"name": "as_of_date", "in": "query", "required": true, "description": "The date for the point-in-time report. Uses ISO-8601 format (YYYY-MM-DD).", "schema": {"type": "string", "format": "date"}, "example": "2024-01-31"}, "breakdownBy": {"name": "breakdown_by", "in": "query", "required": false, "description": "How to break down the report columns. If not specified, returns a single total column.", "schema": {"$ref": "#/components/schemas/ReportBreakdownBy"}}, "customFieldId": {"name": "custom_field_id", "in": "query", "required": false, "description": "The ID of the custom field to break down by. Required when breakdown_by is CUSTOM_FIELD.", "schema": {"type": "string", "format": "uuid"}}, "X-Rillet-Signature": {"name": "X-Rillet-Signature", "in": "header", "schema": {"type": "string"}, "required": true, "description": "Signature of the webhook event. Computed using HMAC-SHA256 and AES encrypted with the configured webhook token. The contents of the body are prefixed with the timestamp and id before hashing."}, "X-Rillet-Timestamp": {"name": "X-Rillet-Timestamp", "in": "header", "schema": {"type": "string", "format": "date-time"}, "required": true, "description": "Timestamp of the webhook event in ISO-8601 format"}, "X-Rillet-Id": {"name": "X-Rillet-Id", "in": "header", "schema": {"type": "string", "format": "uuid"}, "required": true, "description": "ID of the webhook event"}, "X-Rillet-Entity": {"name": "X-Rillet-Entity", "in": "header", "schema": {"type": "string"}, "required": true, "description": "Entity type of the webhook event"}, "X-Rillet-Event": {"name": "X-Rillet-Event", "in": "header", "schema": {"type": "string"}, "required": true, "description": "Event type of the webhook event"}}, "schemas": {"Breakdown": {"type": "string", "enum": ["ARR", "MRR"]}, "ReportBreakdownBy": {"type": "string", "description": "How to break down the report columns. If not specified, returns a single total column.", "enum": ["SUBSIDIARY", "CUSTOM_FIELD"]}, "Status": {"type": "string", "enum": ["ACTIVE", "COMMITTED"]}, "ContractStatus": {"type": "string", "enum": ["ACTIVE", "IN_EFFECT", "CANCELLED", "ENDED", "AMENDED"]}, "InvoiceStatus": {"type": "string", "enum": ["UNPAID", "PAID", "PARTIALLY_PAID", "UNBILLED", "CREDITED", "PARTIALLY_CREDITED"]}, "BillStatus": {"type": "string", "enum": ["UNPAID", "PAID", "PARTIALLY_PAID", "CREDITED", "PARTIALLY_CREDITED", "APPLIED"]}, "ReimbursementStatus": {"type": "string", "enum": ["UNPAID", "PAID", "PARTIALLY_PAID"]}, "ChargeStatus": {"type": "string", "enum": ["UNPAID", "PAID", "PARTIALLY_PAID"]}, "RevenueWaterfall": {"type": "object", "required": ["customers"], "properties": {"customers": {"type": "array", "items": {"$ref": "#/components/schemas/CustomerRevenue"}}}}, "CustomerRevenue": {"type": "object", "required": ["id", "name", "totals"], "properties": {"id": {"type": "string", "format": "uuid"}, "name": {"type": "string"}, "total": {"$ref": "#/components/schemas/Revenue"}}}, "Revenue": {"type": "object", "required": ["year_month", "amount"], "properties": {"year_month": {"type": "string", "description": "Year and month for the requested report for this revenue total", "format": "yearMonth"}, "amount": {"$ref": "#/components/schemas/RoundedMonetaryAmount"}}}, "Error": {"type": "object", "required": ["type", "title"], "properties": {"type": {"type": "string", "format": "uri", "description": "A URI reference that identifies the error type.", "example": "https://rillet.io/forbidden"}, "title": {"type": "string", "description": "Summary of the problem.", "example": "Forbidden"}, "status": {"type": "integer", "description": "The HTTP status code generated by the origin server for this occurrence of the error.", "example": 403}, "detail": {"type": "string", "description": "Explanation specific to this occurrence of the error.", "example": "User does not have rights to perform this operation."}}}, "CurrencyCode": {"type": "string", "description": "Currency code following ISO-4217", "example": "USD"}, "MonetaryAmount": {"type": "object", "required": ["amount", "currency"], "properties": {"amount": {"type": "string", "description": "Monetary amount in decimal format, using a period (.) as the decimal separator. (e.g. '1.01' in $ currency represents 1$ and 1 cent.)", "example": "1.01"}, "currency": {"$ref": "#/components/schemas/CurrencyCode"}}}, "RoundedMonetaryAmount": {"type": "object", "description": "A monetary amount that must be rounded to the currency's default decimal places (e.g., 2 decimal places for USD).", "x-class-extra-annotation": "@io.rillet.common.infra.validators.IsRoundedAmount", "required": ["amount", "currency"], "properties": {"amount": {"type": "string", "description": "Monetary amount in decimal format, using a period (.) as the decimal separator. Must be rounded to the currency's default decimal places (e.g. '1.01' in USD represents 1 dollar and 1 cent).", "example": "1.01"}, "currency": {"$ref": "#/components/schemas/CurrencyCode"}}}, "Pagination": {"type": "object", "properties": {"next_cursor": {"$ref": "#/components/schemas/PageCursor"}}}, "PageCursor": {"type": "string", "description": "If defined, a cursor to retrieve the next page.", "example": "iLQvkEj3sh3UiweC"}, "PageLimit": {"type": "integer", "minimum": 1, "maximum": 100, "default": 25}, "CountryCode": {"type": "string", "description": "Two-letter country code (ISO 3166-1 alpha-2).", "example": "US"}, "RevenuePattern": {"type": "string", "enum": ["DAILY", "EVEN_PERIOD"], "description": "DAILY means that the revenue is divided equally per day in the revenue period. EVEN_PERIOD means that the revenue is divided equally for each calendar month in the revenue period."}, "FixedPrice": {"type": "object", "required": ["amount"], "properties": {"amount": {"$ref": "#/components/schemas/MonetaryAmount"}}}, "RecurringPrice": {"type": "object", "required": ["interval_months"], "properties": {"interval_months": {"type": "integer", "format": "int32", "minimum": 1, "maximum": 12, "example": 1}}}, "Price": {"discriminator": {"propertyName": "type", "mapping": {"FIXED_RECURRING": "#/components/schemas/FixedRecurringPrice", "ONE_TIME": "#/components/schemas/OneTimePrice", "USAGE": "#/components/schemas/UsagePrice"}}, "oneOf": [{"$ref": "#/components/schemas/FixedRecurringPrice"}, {"$ref": "#/components/schemas/OneTimePrice"}, {"$ref": "#/components/schemas/UsagePrice"}], "example": {"type": "FIXED_RECURRING", "amount": {"amount": "10.00", "currency": "USD"}, "interval_months": 1}}, "FixedRecurringPrice": {"allOf": [{"$ref": "#/components/schemas/FixedPrice"}, {"$ref": "#/components/schemas/RecurringPrice"}, {"type": "object", "required": ["type"], "properties": {"type": {"type": "string", "default": "FIXED_RECURRING"}}}]}, "OneTimePrice": {"allOf": [{"$ref": "#/components/schemas/FixedPrice"}, {"type": "object", "required": ["type"], "properties": {"type": {"type": "string", "default": "ONE_TIME"}}}]}, "UsagePrice": {"allOf": [{"$ref": "#/components/schemas/RecurringPrice"}, {"type": "object", "required": ["type", "billing_scheme"], "properties": {"type": {"type": "string", "default": "USAGE"}, "billing_scheme": {"$ref": "#/components/schemas/BillingScheme"}}}]}, "BillingScheme": {"discriminator": {"propertyName": "type", "mapping": {"PER_UNIT": "#/components/schemas/PerUnitBilling", "TIERED": "#/components/schemas/TieredBilling"}}, "oneOf": [{"$ref": "#/components/schemas/PerUnitBilling"}, {"$ref": "#/components/schemas/TieredBilling"}]}, "PerUnitBilling": {"type": "object", "required": ["type", "amount", "units"], "properties": {"type": {"type": "string", "default": "PER_UNIT"}, "amount": {"$ref": "#/components/schemas/MonetaryAmount"}, "units": {"type": "integer", "format": "int32", "minimum": 1, "example": 1}}}, "TieredBilling": {"type": "object", "required": ["type", "mode", "tiers"], "properties": {"type": {"type": "string", "default": "TIERED"}, "mode": {"type": "string", "enum": ["GRADUATED", "METERED"], "description": "In metered tiering, the maximum quantity within a period determines the price. In graduated tiering, pricing changes as the quantity grows \u2013 the price from each tier up to the reported quantity is accumulated."}, "tiers": {"type": "array", "minItems": 1, "items": {"$ref": "#/components/schemas/Tier"}}}, "description": "All tiers except for the highest have to define a value for upTo. There cannot be more than one tier with the same upTo value."}, "Tier": {"type": "object", "required": ["up_to"], "properties": {"up_to": {"type": "integer", "format": "int32", "minimum": 1, "example": 10}, "flat_price": {"$ref": "#/components/schemas/MonetaryAmount"}, "per_unit_price": {"$ref": "#/components/schemas/MonetaryAmount"}}, "description": "At least one of flatPrice or perUnitPrice has to be defined. flatPrice is the price for the entire tier. perUnitPrice is price for units relevant to the tier."}, "TaxRateWithOptionalAmount": {"type": "object", "required": ["country", "description", "percentage", "type"], "properties": {"percentage": {"type": "number", "minimum": 0, "maximum": 100, "example": 0}, "tax_amount": {"$ref": "#/components/schemas/RoundedMonetaryAmount"}, "country": {"$ref": "#/components/schemas/CountryCode"}, "type": {"type": "string", "enum": ["VAT", "SALES_TAX"]}, "description": {"type": "string"}}}, "TaxRate": {"allOf": [{"$ref": "#/components/schemas/TaxRateWithOptionalAmount"}], "required": ["tax_amount"]}, "ExpenseTaxRate": {"allOf": [{"$ref": "#/components/schemas/TaxRate"}, {"type": "object", "required": ["coverage"], "properties": {"tax_code": {"type": "string", "description": "Code of a predefined tax rate. When provided, the rate's percentage, country, and description are used instead of the inline values."}, "coverage": {"type": "string", "enum": ["INCLUSIVE", "EXCLUSIVE"]}}}]}, "Product": {"type": "object", "required": ["description", "id", "include_in_arr_mrr", "name", "price", "revenue_pattern", "status", "account_code"], "properties": {"id": {"type": "string", "format": "uuid"}, "name": {"type": "string", "example": "English subscription"}, "description": {"type": "string", "example": "Subscription to english classes"}, "price": {"$ref": "#/components/schemas/Price"}, "include_in_arr_mrr": {"type": "boolean"}, "revenue_pattern": {"$ref": "#/components/schemas/RevenuePattern"}, "external_references": {"uniqueItems": true, "type": "array", "items": {"$ref": "#/components/schemas/ExternalReference"}}, "status": {"type": "string", "enum": ["ACTIVE", "INACTIVE"]}, "account_code": {"$ref": "#/components/schemas/AccountCode"}}}, "Account": {"type": "object", "required": ["id", "code", "name", "type", "subtype", "status", "intercompany", "updated_at"], "properties": {"id": {"type": "string", "format": "uuid"}, "code": {"$ref": "#/components/schemas/AccountCode"}, "name": {"type": "string", "example": "Mercury Savings"}, "type": {"type": "string", "enum": ["ASSET", "LIABILITY", "EQUITY", "EXPENSE", "INCOME"]}, "subtype": {"type": "string", "example": "Bank"}, "status": {"type": "string", "enum": ["ACTIVE", "INACTIVE"]}, "intercompany": {"type": "boolean", "example": false}, "updated_at": {"type": "string", "format": "date-time", "description": "ISO 8601 timestamp in UTC timezone (must end with 'Z')"}}}, "TaxRateResource": {"type": "object", "required": ["id", "code", "country", "description", "percentage"], "properties": {"id": {"type": "string", "format": "uuid"}, "code": {"type": "string", "example": "IE_STANDARD"}, "country": {"$ref": "#/components/schemas/CountryCode"}, "description": {"type": "string", "example": "Standard Rate"}, "percentage": {"type": "string", "example": "23.0000"}}}, "BankAccount": {"type": "object", "required": ["id", "name", "currency", "bank_name", "status"], "properties": {"id": {"type": "string", "format": "uuid"}, "name": {"type": "string", "description": "The bank account name"}, "currency": {"$ref": "#/components/schemas/CurrencyCode"}, "bank_name": {"type": "string"}, "subsidiary_id": {"type": "string", "format": "uuid"}, "account_code": {"type": "string", "description": "The account code found in the Chart of Accounts"}, "mask": {"type": "string", "description": "Last digits of the bank account number"}, "status": {"$ref": "#/components/schemas/BankAccountStatus"}}}, "BankAccountStatus": {"type": "string", "enum": ["ACTIVE", "INACTIVE"]}, "CreateBankAccountRequest": {"type": "object", "required": ["name", "currency", "bank_name", "subsidiary_id", "account_code"], "properties": {"name": {"type": "string", "description": "The bank account name"}, "currency": {"$ref": "#/components/schemas/CurrencyCode"}, "bank_name": {"type": "string"}, "subsidiary_id": {"type": "string", "format": "uuid"}, "account_code": {"type": "string", "description": "The account code found in the Chart of Accounts"}, "mask": {"type": "string", "description": "Last digits of the bank account number"}}}, "BankTransaction": {"type": "object", "required": ["id", "bank_account_id", "subsidiary_id", "date", "name", "merchant", "net_amount", "fee", "pending", "excluded"], "properties": {"id": {"type": "string", "format": "uuid"}, "bank_account_id": {"type": "string", "format": "uuid"}, "subsidiary_id": {"type": "string", "format": "uuid"}, "date": {"type": "string", "format": "date"}, "name": {"type": "string", "description": "Transaction description"}, "merchant": {"type": "string", "description": "Merchant or counterparty name"}, "net_amount": {"$ref": "#/components/schemas/RoundedMonetaryAmount", "description": "Transaction amount with fees subtracted"}, "fee": {"$ref": "#/components/schemas/RoundedMonetaryAmount", "description": "Fee amount"}, "pending": {"type": "boolean", "description": "Whether the transaction is still pending"}, "excluded": {"type": "boolean", "description": "Whether the transaction is excluded from reconciliation"}}}, "CreateBankTransactionRequest": {"type": "object", "required": ["bank_account_id", "date", "name", "merchant", "net_amount"], "properties": {"bank_account_id": {"type": "string", "format": "uuid"}, "date": {"type": "string", "format": "date"}, "name": {"type": "string", "description": "Transaction description"}, "merchant": {"type": "string", "description": "Merchant or counterparty name"}, "net_amount": {"$ref": "#/components/schemas/RoundedMonetaryAmount", "description": "Transaction amount with fees subtracted"}, "fee": {"$ref": "#/components/schemas/RoundedMonetaryAmount", "description": "Fee amount. Defaults to zero in the currency of net_amount."}, "pending": {"type": "boolean", "description": "Whether the transaction is still pending", "default": false}, "excluded": {"type": "boolean", "description": "Whether the transaction is excluded from reconciliation", "default": false}}}, "UpdateBankTransactionRequest": {"type": "object", "required": ["bank_account_id", "date", "name", "merchant", "net_amount"], "properties": {"date": {"type": "string", "format": "date"}, "name": {"type": "string", "description": "Transaction description"}, "merchant": {"type": "string", "description": "Merchant or counterparty name"}, "net_amount": {"$ref": "#/components/schemas/RoundedMonetaryAmount", "description": "Transaction amount with fees subtracted"}, "fee": {"$ref": "#/components/schemas/RoundedMonetaryAmount", "description": "Fee amount"}, "pending": {"type": "boolean", "description": "Whether the transaction is still pending"}, "excluded": {"type": "boolean", "description": "Whether the transaction is excluded from reconciliation"}}}, "Subsidiary": {"type": "object", "required": ["id", "currency", "timezone", "trade_name", "type"], "properties": {"id": {"type": "string", "format": "uuid"}, "currency": {"$ref": "#/components/schemas/CurrencyCode"}, "timezone": {"type": "string", "example": "America/New_York"}, "trade_name": {"type": "string", "example": "Rillet Inc."}, "type": {"type": "string", "enum": ["LEGAL_ENTITY"]}}}, "Organization": {"type": "object", "required": ["id", "currency", "timezone", "trade_name"], "properties": {"id": {"type": "string", "format": "uuid"}, "currency": {"$ref": "#/components/schemas/CurrencyCode"}, "timezone": {"type": "string", "example": "America/New_York"}, "trade_name": {"type": "string", "example": "Rillet Inc."}}}, "ProductRequest": {"type": "object", "required": ["description", "include_in_arr_mrr", "name", "price", "revenue_pattern", "account_code"], "properties": {"name": {"maxLength": 250, "minLength": 1, "type": "string", "example": "English subscription"}, "description": {"type": "string", "example": "Subscription to english classes"}, "price": {"$ref": "#/components/schemas/Price"}, "include_in_arr_mrr": {"type": "boolean"}, "revenue_pattern": {"$ref": "#/components/schemas/RevenuePattern"}, "account_code": {"$ref": "#/components/schemas/AccountCode"}, "status": {"type": "string", "default": "ACTIVE", "enum": ["ACTIVE", "INACTIVE"]}}}, "CustomerRequest": {"type": "object", "required": ["name"], "properties": {"name": {"type": "string", "example": "Bob"}, "name_on_invoice": {"type": "string", "example": "Bob Johnson"}, "address": {"$ref": "#/components/schemas/Address"}, "shipping_address": {"$ref": "#/components/schemas/Address"}, "emails": {"uniqueItems": true, "type": "array", "items": {"$ref": "#/components/schemas/CustomerEmail"}}, "external_references": {"uniqueItems": true, "type": "array", "items": {"$ref": "#/components/schemas/ExternalReference"}}, "payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "send_invoices_automatically": {"type": "boolean", "default": false, "description": "When set to true, invoices for this customer will be automatically sent via email on the invoice date."}, "send_payment_reminders": {"type": "boolean", "default": false, "description": "When set to true, an email will be sent to customers periodically if they have not paid an invoice."}, "fields": {"allOf": [{"$ref": "#/components/schemas/FieldAssignments"}], "nullable": true}}}, "PaymentSetupResponse": {"type": "object", "required": ["setup_url"], "properties": {"setup_url": {"type": "string", "format": "uri", "description": "URL to the payment setup portal"}}}, "CustomerPaymentMethod": {"type": "object", "required": ["chargeable", "payment_type"], "properties": {"last_four_digits": {"type": "string", "description": "The last four digits of the payment method."}, "chargeable": {"type": "boolean", "description": "Whether the payment method can be used or not. If false, further action from the customer might be required."}, "payment_type": {"type": "string", "enum": ["CARD", "BANK_ACCOUNT", "OTHER"]}}}, "Discount": {"oneOf": [{"$ref": "#/components/schemas/AmountDiscount"}, {"$ref": "#/components/schemas/PercentageDiscount"}], "discriminator": {"propertyName": "type", "mapping": {"AMOUNT": "#/components/schemas/AmountDiscount", "PERCENTAGE": "#/components/schemas/PercentageDiscount"}}, "example": {"type": "AMOUNT", "amount_off": {"amount": "10.00", "currency": "USD"}}}, "AmountDiscount": {"type": "object", "required": ["amount_off"], "properties": {"amount_off": {"$ref": "#/components/schemas/RoundedMonetaryAmount"}, "type": {"type": "string", "default": "AMOUNT"}}}, "PercentageDiscount": {"type": "object", "required": ["percentage_off"], "properties": {"percentage_off": {"type": "number", "format": "double", "minimum": 0, "maximum": 100, "example": 10}, "type": {"type": "string", "default": "PERCENTAGE"}}}, "Invoicing": {"oneOf": [{"$ref": "#/components/schemas/MonthlyInvoicing"}, {"$ref": "#/components/schemas/MonthlyProratedInvoicing"}, {"$ref": "#/components/schemas/QuarterlyInvoicing"}, {"$ref": "#/components/schemas/SemiAnnualInvoicing"}, {"$ref": "#/components/schemas/YearlyInvoicing"}], "discriminator": {"propertyName": "interval", "mapping": {"MONTHLY": "#/components/schemas/MonthlyInvoicing", "MONTHLY_PRORATED": "#/components/schemas/MonthlyProratedInvoicing", "QUARTERLY": "#/components/schemas/QuarterlyInvoicing", "SEMI_ANNUAL": "#/components/schemas/SemiAnnualInvoicing", "YEARLY": "#/components/schemas/YearlyInvoicing"}}}, "MonthlyInvoicing": {"type": "object", "required": ["payment_terms", "interval", "day"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "MONTHLY"}, "day": {"type": "integer", "format": "int32", "minimum": 1, "maximum": 31, "example": 1}}}, "MonthlyProratedInvoicing": {"type": "object", "required": ["payment_terms", "interval", "day"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "MONTHLY_PRORATED"}, "day": {"type": "integer", "format": "int32", "minimum": 1, "maximum": 31, "example": 1}}, "description": "Monthly prorated invoicing is only available for contracts with usage products and a minimum usage commitment.\n"}, "QuarterlyInvoicing": {"type": "object", "required": ["payment_terms", "interval", "month_day"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "QUARTERLY"}, "month_day": {"type": "string", "pattern": "^--\\d{2}-\\d{2}$", "description": "A string in --MM-dd format. Invoices will be created starting on that date and every 3 months.", "example": "--01-01"}}}, "SemiAnnualInvoicing": {"type": "object", "required": ["payment_terms", "interval", "month_day"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "SEMI_ANNUAL"}, "month_day": {"type": "string", "pattern": "^--\\d{2}-\\d{2}$", "description": "A string in --MM-dd format. Invoices will be created starting on that date and every 6 months.", "example": "--01-01"}}}, "YearlyInvoicing": {"type": "object", "required": ["payment_terms", "interval", "month_day"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "YEARLY"}, "month_day": {"type": "string", "pattern": "^--\\d{2}-\\d{2}$", "description": "A string in --MM-dd format", "example": "--01-01"}}}, "UsageInvoicingFrequency": {"type": "string", "enum": ["MONTHLY", "QUARTERLY", "SEMI_ANNUAL", "YEARLY"]}, "MinimumCommitmentInvoicingFrequency": {"type": "string", "enum": ["MONTHLY", "MONTHLY_PRORATED", "QUARTERLY", "SEMI_ANNUAL", "YEARLY"], "description": "MONTHLY_PRORATED is only available for CALENDAR usage invoice cycle. It need to be the same as contract level invoicing frequency."}, "UsageInvoicing": {"type": "object", "required": ["frequency", "payment_terms", "invoice_date", "cycle"], "properties": {"frequency": {"$ref": "#/components/schemas/UsageInvoicingFrequency"}, "payment_terms": {"$ref": "#/components/schemas/PaymentTerms", "description": "Should be the same across different invoicing objects."}, "invoice_date": {"$ref": "#/components/schemas/UsageInvoiceDate"}, "cycle": {"$ref": "#/components/schemas/UsageInvoiceCycle"}}}, "MinimumCommitmentInvoicing": {"type": "object", "required": ["frequency", "payment_terms"], "properties": {"frequency": {"$ref": "#/components/schemas/MinimumCommitmentInvoicingFrequency"}, "payment_terms": {"$ref": "#/components/schemas/PaymentTerms", "description": "Should be the same across different invoicing objects."}}}, "OverageInvoicing": {"oneOf": [{"$ref": "#/components/schemas/OverageMonthlyInvoicing"}, {"$ref": "#/components/schemas/OverageMonthlyProratedInvoicing"}, {"$ref": "#/components/schemas/OverageQuarterlyInvoicing"}, {"$ref": "#/components/schemas/OverageSemiAnnualInvoicing"}, {"$ref": "#/components/schemas/OverageYearlyInvoicing"}], "discriminator": {"propertyName": "interval", "mapping": {"MONTHLY": "#/components/schemas/OverageMonthlyInvoicing", "MONTHLY_PRORATED": "#/components/schemas/OverageMonthlyProratedInvoicing", "QUARTERLY": "#/components/schemas/OverageQuarterlyInvoicing", "SEMI_ANNUAL": "#/components/schemas/OverageSemiAnnualInvoicing", "YEARLY": "#/components/schemas/OverageYearlyInvoicing"}}}, "OverageMonthlyInvoicing": {"type": "object", "required": ["payment_terms", "interval"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "MONTHLY"}}}, "OverageMonthlyProratedInvoicing": {"type": "object", "required": ["payment_terms", "interval"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "MONTHLY_PRORATED"}}, "description": "Monthly prorated invoicing is only available for contracts with usage products and a minimum usage commitment.\n"}, "OverageQuarterlyInvoicing": {"type": "object", "required": ["payment_terms", "interval"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "QUARTERLY"}}}, "OverageSemiAnnualInvoicing": {"type": "object", "required": ["payment_terms", "interval"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "SEMI_ANNUAL"}}}, "OverageYearlyInvoicing": {"type": "object", "required": ["payment_terms", "interval"], "properties": {"payment_terms": {"type": "integer", "format": "int32", "minimum": 0, "example": 0}, "interval": {"type": "string", "default": "YEARLY"}}}, "ContractItemRequest": {"type": "object", "required": ["price", "product_id", "quantity", "revenue_pattern"], "properties": {"product_id": {"type": "string", "format": "uuid"}, "price": {"$ref": "#/components/schemas/Price"}, "quantity": {"type": "number", "minimum": 1, "example": 1}, "revenue_pattern": {"$ref": "#/components/schemas/RevenuePattern"}, "discount": {"$ref": "#/components/schemas/Discount", "description": "Optional discount for contracts that do not have REVENUE_RECOGNITION_ONLY scope."}, "tax_rate": {"$ref": "#/components/schemas/TaxRateWithOptionalAmount"}, "start_date": {"type": "string", "format": "date", "description": "Defaults to the contract start date."}, "end_date": {"type": "string", "format": "date", "description": "Defaults to the contract end date."}, "external_reference": {"$ref": "#/components/schemas/ExternalReference", "description": "A unique ID per contract item, used on the invoice schedule to refer to the contract item."}, "fields": {"$ref": "#/components/schemas/FieldAssignments"}, "usage_minimum_commitment": {"$ref": "#/components/schemas/UsageCommitment", "description": "Usage Minimum commitment for this contract item. Should be skipped if price is not USAGE or minimum commitment is defined at contract level."}}}, "RevenueRecognitionOnlyContractItemRequest": {"type": "object", "required": ["price", "product_id", "revenue_pattern", "external_reference"], "properties": {"product_id": {"type": "string", "format": "uuid"}, "price": {"$ref": "#/components/schemas/MonetaryAmount"}, "discount": {"$ref": "#/components/schemas/Discount"}, "revenue_pattern": {"$ref": "#/components/schemas/RevenuePattern"}, "start_date": {"type": "string", "format": "date", "description": "Defaults to the contract start date."}, "end_date": {"type": "string", "format": "date", "description": "Defaults to the contract end date."}, "external_reference": {"$ref": "#/components/schemas/ExternalReference", "description": "A unique ID per contract item, used on the invoice schedule to refer to the contract item."}}}, "ContractScope": {"type": "string", "enum": ["FULL", "REVENUE_RECOGNITION_ONLY"], "description": "The \"FULL\" scope includes revenue recognition and invoicing handled in Rillet. With the \"REVENUE_RECOGNITION_ONLY\" scope, invoicing is handled outside Rillet."}, "InvoiceScope": {"type": "string", "enum": ["FULL", "REVENUE_RECOGNITION_ONLY"], "description": "The \"FULL\" scope includes revenue recognition and invoicing handled in Rillet. With the \"REVENUE_RECOGNITION_
[...]
